/* First part: resetting browser defined properties */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* all the properties resetted. Proof of Concept Styles begin here */

body {
	font-family: "Helvetica", Sans-serif;
	font-size: 14px;
	color: #666;
}

header {
	border-top: 4px solid #de5833;
}

section {
	padding: 25px;
	min-height: 300px;
}

footer {
	padding: 25px;
	border-top: 1px solid #666;
}

footer p {
	font-size: 0.8em;
}

h1 {
	font-size: 4em;
	margin-bottom: 15px;
}

p {
	font-size: 1em;
	line-height: 1.28;
	margin-bottom: 10px;
}